@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Fraunces:opsz,wght@9..144,300;9..144,400;9..144,600;9..144,700&family=Karla:wght@400;500;700&display=swap');

:root {
  --color-brand: #ffde59;
  --color-saludable: #64f2d4;
  --color-tradicional: #ff4444;
  --color-bg: #fdfaf0;
  --color-text: #2e2a25;
  --font-title: 'Fraunces', serif;
  --font-text: 'Karla', sans-serif;
  --font-accent: 'Alex Brush', cursive;
}
